.outline {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid green;
}

.outline3 {
    outline: 1px solid purple;
}

.outline4 {
    outline: 1px solid blue;
}

.outline5 {
    outline: 1px solid yellow;
}

/*----TEMP-END----*/

/*----FONTS----*/

.menufont {
    font-family: "chalkduster";
}

.menu-title-font {
    font-family: "system-ui"
}

/*----NAVIGATION----*/

.bob-background {
    background-image: url("/src/assets/images/background2.png");
    background-size: cover;
    height: 100%;
}

/*navigacio*/
@media (min-width: 576px) {
    /*--NAVIGATION--*/
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 576px) {
    
    .navbar-dark,
    .navbar-toggler {
        border-color: rgba(255,255,255,0)!important
    }
}